*.DS_STORE

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
*/log/*
*/tmp/*
!/log/.keep
!/tmp/.keep
tmp/
log/

# Ignore Byebug command history file.
.byebug_history

db/*.sqlite3

/.ssh
.env

# used to fake https for testing
localhost.crt
localhost.key