<%= render "shared/notifications" %>
<div class="container">
  <%= render "shared/scheduled_meetings", user: @user, room: @room, scheduled_meetings: @scheduled_meetings %>
  <%= render "shared/recordings", user: @user, room: @room, recordings: @recordings, only_public: false %>
</div>
