<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<body>

<div class="container">
    <%= render "admins/components/header" %>
    <div class="px-44 py-12">
        <div class="border-b-2 pb-4">
            <p class="text-5xl font-sans pl-4 font-light p-10"> <%= t('default.admin.subtitle') %> </p>
        </div>
        <div class="mt-4">
            <%= render "admins/components/menu_buttons" %>
            <div class="col-lg-9">
                <div class="border rounded-md">
                    <div class="h-full">
                        <%= render "admins/components/server_rooms" %>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
