<div id="scheduled-meetings-edit" class="row">
  <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <h2><%= t('scheduled_meetings.edit.title') %></h2>
    <%= render 'form', scheduled_meeting: @scheduled_meeting %>
  </div>
</div>
