<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="container bg-white">
	<div class = "row">
			<div class ="flex items-start mt-20 mr-10 mb-10 ">
					<img style ="top:50%" alt="" src="">
			</div>
	</div>
	<div class="row">
			<div class = "bg-gray-200 grid justify-items-center grid-cols-1 gap-10 p-20 pt-40 pb-40" >
					<div class="text-center">
							<% if code %>
								<h2 class= "error-code">
									<%= code %> <br>
								</h2>
							<% end %>
							<div class="error-message font-extrabold">
								<span class="sr-only"><%= message %></span><%= message %>
							</div>
							<div>
								<% if suggestion %>
									<%= suggestion %>
								<% end %>
							</div>
					</div>
			</div>
	</div>
</div>
