    <footer>
      <div class="navbar fixed-bottom">
        <div class="text-center">
          <p class>Build number <%= Rails.configuration.build_number || 'v1' %>.</p>
        </div>
      </div>
    </footer>
