<div id="recordings-list" class="row">
  <div class="col-12">
    <h1><%= t('recordings.title') %></h1>
  </div>

  <div id="search-bar" class="col-12">
    <input type="text" class="form-control" placeholder="<%= t('recordings.search.placeholder') %>">
  </div>

  <% if recordings.count > 0 %>
    <div class="col-12">
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <% recordings.each do |recording| %>
              <%= render "shared/recording_row", recording: recording %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
