<script type="text/javascript" language="JavaScript">window.close();</script>
<h1>Rooms#close</h1>
<%= t('default.meeting.close_manually') %>
<a href="javascript:;" onclick="window.close();" class="btn btn-default">Close</a>
