<head>

    <style>

        .header {
            padding: 60px;
            text-align: left;
            background: white;
            color: white;
            font-size: 30px;
        }

        .message-2{
            text-align: center; 
            position: relative;
            background-color: #F5F7FB;
            margin-top: 15px;
            padding-top: 8%;
            padding-bottom: 8%
        }
        
    </style>

</head>
<body data-meeting = <%=@meeting%>>
    <div class="container bg-white">
        <div class = "row">
            <div class ="flex items-start mt-20 mr-10 mb-10 ">
                <img style ="top:50%" alt="" src="">
            </div>
        </div>
        <div class="row">
            <div class = "bg-gray-200 grid justify-items-center grid-cols-1 gap-10 p-20 pt-40 pb-40" >
                <p class="font-sans text-5xl font-light pb-5"> <%= t('default.waiting_room.hang_tight') %> </p>
                <div class="loader pb-5"> </div>
                <p class="font-sans text-4xl font-light pt-5"> <%= t('default.waiting_room.redirect_msg') %> </p>
            </div>
        </div>
    </div>
</body>