// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body,.container {
    height: 94%;
}
.container {
    display:table;
    width: 100%;
}

.dropdown {
  position: absolute;
}

div #body {
  height: 100%;
}
