// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body,.container {
    height: 94%;
}
.container {
    display:table;
    width: 100%;
}

.dropdown {
  position: absolute;
}

div #body {
  height: 100%;
}

table[data-search-target="1"] tr {
  max-height: 500px; // bigger than they can ever get
  transition: max-height 0.1s linear, opacity 0.5s linear;

  &.search-hidden {
    visibility: hidden;
    opacity: 0;
    max-height: 0 !important;
    min-height: 0 !important;
  }
}
