// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";


html,body,.container {
    height: 94%;
}
.container {
    display:table;
    width: 100%;
    // margin-top: -50px;
    // padding: 50px 0 0 0; /*set left/right padding according to needs*/
    // -moz-box-sizing: border-box;
    // box-sizing: border-box;
}

// .table-responsive {
//   height: 100%;
// }

.dropdown {
  position: absolute;
}

.bg-pink {
    background: pink;
}
.bg-yellow {
    background: yellow;
}
.bg-red {
    background: red;
}
.bg-blue {
    background: blue;
}

div #body {
  height: 100%;
}
