@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
//@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

$vars: (
  --color-main: #243d8f,
  --color-main-hover: #0F8DDE,
  --color-sec: #666666,
  --color-sec-hover: #83E0E4,
  --color-action: #DD582D,
  --color-action-hover: #E59123,
  --color-support: #4F4289,
  --color-support-hover: #847BAD,
  --color-ok: #9BC111,
  --color-ok-hover: #B9D459,
  --color-error: #B94A48,
  --color-error-hover: #DA818A,
  --color-white: #FFFFFF,
  --color-black: #202020,
  --color-gray-01: #EDEDED,
  --color-gray-02: #DADADA,
  --color-gray-03: #C6C6C6,
  --color-gray-04: #B2B2B2,
  --color-gray-05: #9D9D9C,
  --color-gray-06: #878787,
  --color-gray-07: #706F6F,
  --color-gray-08: #575756,
  --color-gray-09: #3C3C3B,
  --font-color: #202020,
  --font-family: "'IBM Plex Sans', sans-serif",
  --font-family-title: "'Comfortaa', sans-serif",
  --font-weight: Regular,
  --font-size: 16.5px,
  --font-size-rem: 1.1rem, // Assumes the browser default, typically `16px`
  --font-size-details: 14.3px,
  --font-size-sm: 14px,
  --font-size-h1: 32px,
  --font-size-h2: 28px,
  --line-height: 1.5,
  --border-color: #DEE2E6,
  --z-index-toast: 999,
);
// variables in this map can be used as in:
// map-get($vars, '--color-main')

// Transfer the variables from the map to the :root element
// Logic from https://css-tricks.com/difference-between-types-of-css-variables/
:root {
  @each $variable, $value in $vars {
    @if type-of($value) == string {
      #{$variable}: unquote($value);
    } @else {
      #{$variable}: $value;
    }
  }
}

// global spacing blocks
$block: 8px;
$block-rem: 0.5rem;
@function blocks($num) {
  @return ($num * $block);
}
@function blocks-rem($num) {
  @return ($num * $block-rem);
}

// Customize bootstrap variables
// Full list: https://github.com/twbs/bootstrap-rubygem/blob/master/assets/stylesheets/bootstrap/_variables.scss
$primary:       map-get($vars, '--color-main') !default;
$secondary:     map-get($vars, '--color-sec') !default;
$success:       #2ecc71 !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
$danger:        map-get($vars, '--color-error') !default;
$light:         map-get($vars, '--color-gray-01') !default;
$dark:          map-get($vars, '--color-black') !default;
$body-color:    map-get($vars, '--font-color') !default;
$font-family-base: map-get($vars, '--font-family') !default;
$table-cell-padding:          1.5rem 0 !default;
// $table-cell-padding-sm:       .3rem !default;
$font-size-base: map-get($vars, '--font-size-rem') !default;
$link-color: #4078c0 !default;
$link-hover-color: lighten($link-color, 10) !default;
$dropdown-link-hover-color: map-get($vars, '--color-white') !default;
$dropdown-link-hover-bg: map-get($vars, '--color-main-hover') !default;
$dropdown-link-active-color: map-get($vars, '--color-white') !default;
$dropdown-link-active-bg: map-get($vars, '--color-main') !default;
$dropdown-padding-y: $block !default;
$dropdown-spacer: $block !default;
$dropdown-item-padding-y: $block !default;
$dropdown-item-padding-x: (2 * $block) !default;
$input-btn-padding-y: blocks-rem(1.5) !default;
$input-btn-padding-x: blocks-rem(2) !default;
$btn-padding-y: blocks-rem(2) !default;
$btn-padding-x: blocks-rem(6) !default;
$line-height-lg: map-get($vars, '--line-height') !default;
// $line-height-sm:              1.5 !default;

// RNP
$rnp-blue: #243d8f; //#0c488e;
$rnp-primary: $rnp-blue;
$rnp-secondary: #666666;
$rnp-grey: #8c8c8c;
$rnp-light-grey: #fcfcfc;
$rnp-bg-color: #ffffff;
$rnp-danger-color: #9e0b0f;
$rnp-danger-hover-color: #b60d11;
$rnp-info-color: #049cdb;
$rnp-warning-color: #f89406;
$rnp-success-color: #2ecc71;

$rnp-blue-1: #0F8DDE;
$rnp-blue-2: #0F73B2;
$rnp-blue-3: #2095f2;
$rnp-green-1: #00bea4;
$rnp-gray-1: #ededed;
$rnp-gray-2: #d9d9d9;
$rnp-gray-3: #5d5d5d;

$font-family: Roboto, Arial, sans-serif;
$link-color: #4078c0; //$rnp-blue; //lighten($rnp-blue, 15); //lighten($main-color, 15);
$link-color-hover: lighten($link-color, 10); //$second-color;
$link-color-active: $link-color;
$navbar-bg-color-dark: $rnp-blue;
$navbar-bg-color-light: $rnp-blue;
$navbar-height: 60px;
$navbar-font-color: white;
$navbar-font-color-hover: white;
$navbar-menu-open-link: $link-color;
$navbar-menu-open-link-hover: $link-color-hover;
$footer-height: 180px;
$navbar-rnp-height: 50px;
$navbar-rnp-max-width: 980px;
$navbar-rnp-min-width: 680px;

// fonts
$font-mini: 10px;
$font-small: 11px;
$font-normal: 13px;
$font-medium: 14px;
$font-big: 16px;
$font-big-medium: 18px;
$font-meeting-icon: 19px;
$font-bigger: 21px;
$font-biggest: 25px;
$font-gigantic: 28px;
$font-section-title: 28px;
$font-color: #333;
$font-color-gray: #888;
$font-family: Arial, sans-serif;
$base-line-height: 1.5;

// standard colors
$green: #509F00;
$blue: #005fca;
$red: #C23321;
$orange: #C47322;
$yellow: #BB9403;
$gold: #f1be04;
$green-logo: #27535C;
$gray: #ccc;
$m-dark-red: #961010;
$m-dark-blue: #0a1d87;
$dark-gray: #666;
$light-gray: #f6f6f6;
$very-light-gray: #fcfcfc;
$bright-blue: #49afcd;
$transparent: rgba(255,255,255,0);
// site colors
$site-bg-color: #fff;
$main-color: $green-logo;
$second-color: $bright-blue;
$focus-border-color: $second-color;
$font-h-color: $green-logo;
// link colors
$link-color: lighten($main-color, 15);
$link-color-hover: $second-color;
$link-color-active: darken($link-color-hover, 15);

.btn-primary {
  color: var(--color-white);

  &.disabled, &[disabled] {
    color: var(--color-gray-02);
    background-color: var(--color-gray-06);
    border-color: var(--color-gray-08);
  }
}

.btn-secondary {
  &.disabled, &[disabled] {
    background-color: var(--color-gray-06);
    border-color: var(--color-gray-08);
  }
}

.btn-success {
  color: var(--color-white);

  &.disabled, &[disabled] {
    color: var(--color-gray-02);
    background-color: var(--color-gray-06);
    border-color: var(--color-gray-08);
  }
}

.btn-light {
  background-color: var(--color-white);
  border-color: var(--color-sec);
  color: var(--color-sec);

  &:hover, &:focus, &:active {
    border-color: var(--color-sec);
    color: var(--color-sec);
  }
}

// customize flatpickr
.flatpickr-input.form-control {
  &:disabled, &[readonly] {
    background: var(--color-white);
  }
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0 rgba(43, 179, 186, 0.5);
  }
  100% {
    box-shadow: 0 0 0 $block rgba(0, 0, 0, 0);
  }
}

.icon-input-select {
  appearance: none;
  background: transparent;
  background-repeat: no-repeat;
  background-position-x: calc(100% - .75em);
  background-position-y: center;
  background-image: asset-data-url("icon_expand_more.svg")
}

select.form-control {
  cursor: pointer;
}

// make bootstrap's variables available for use in other places
@import "bootstrap/mixins";
@import "bootstrap/functions";
@import "bootstrap/variables";
