<h1>Error!</h1>
<p>Authentication error, please refresh and try again.</p>
<p>Troubleshooting: </p>
<ul>
    <li>If using LTI 1.0/1.1 please check your key and secret in the tool config<li>
</ul> 
<p>If the error persists, please contact support.</p>
