@import "theme/definitions";

body.theme-elos {
  padding: 40px 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);

  h1, h2, h3 {
    color: var(--color-main);
    // font-weight: bold;
    font-family: var(--font-family-title);
  }
  h1 {
    font-size: var(--font-size-h1);
  }
  h2 {
    font-size: var(--font-size-h2);
  }
  h3 {
    font-size: var(--font-size-h3);
  }

  table {
    border-bottom: 1px solid #dee2e6;
  }

  #scheduled-meetings-list {
    #schedule-meeting {
      max-width: 400px;
      margin-top: 30px;

      .btn {
        width: 100%;
        padding: 0.6rem 0.75rem;
      }
    }
  }

  #recordings-list {
    margin-top: 80px;

    #search-bar {
      margin-bottom: 20px;
    }
  }
}
