@import "definitions";

// keep it here so it won't take precedence and override links
// inside dropdowns and buttons, for example
a {
  color: var(--color-sec);

  &:hover {
    color: var(--color-sec-hover);
    background: none;
  }
}

body.theme-elos {

  //
  // GLOBAL STYLES
  //

  padding: 40px 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);

  h1, h2, h3, h4, h5 {
    color: var(--color-main);
  }
  h1 {
    font-size: var(--font-size-h1);
    font-family: var(--font-family-title);
  }
  h2 {
    font-size: var(--font-size-h2);
  }

  .dropdown-opts .dropdown-toggle {
    &:after { content: none }
  }

  table {
    border-bottom: 1px solid var(--color-gray-02);

    .item-title {
      font-size: 20px;
      font-weight: bold;
    }

    .item-description {
      font-size: var(--font-size-details);
      margin-top: 12px;
      color: var(--color-gray-05);
    }

    td {
      vertical-align: middle;
    }

    .dropdown-opts {
      top: 36px;
      right: 10px;

      > a {
        color: var(--font-color);
      }
    }
  }

  .join-room-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 0;

    .icon {
      margin: 0;
      font-size: 33px;
      width: 100%;
      line-height: 1;
      padding: 3px 0px 0 1px;
    }
  }

  //
  // PAGE-SPECIFIC STYLES
  //

  #scheduled-meetings-list {
    #schedule-meeting {
      max-width: 350px;
      margin-top: 32px;

      .btn {
        width: 100%;
        padding: 1rem 0.75rem;
      }
    }
  }

  #recordings-list {
    margin-top: 80px;

    #search-bar {
      margin-bottom: 24px;
    }
  }
}
