<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="row">
  <div class="flex justify-between pt-8 pb-5 items-center">

    <p class="font-sans font-light text-5xl"><%= subtitle %></p>

    <div id="search_bar">
      <div class="input-icon">
        <input type="text" class="form-control btn-pill" placeholder="<%= t('default.recording.search_placeholder') %>">
        <span class="input-icon-addon"></span>
      </div>
    </div>
    
  </div>
<div>
