<div class="row">
  <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <h1><%= @error[:message] %> (<%= @error[:code] %>)</h1>
    <% if @error[:suggestion] %>
      <div>
        <%= @error[:suggestion] %>
      </div>
    <% end %>
  </div>
</div>
